<h2>List items</h2>

<table>
  <tr>
    <th>User name</th>
    <th>User surname</th>
    <th>Product id</th>
    <th>Type</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{item.name}}</td>
    <td>{{item.surname}}</td>
    <td class="td-tooltip" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)">{{item.productId}}
      <span class="td-tooltiptext"><p>Product name: {{item.productId | productpipe:'name'}}</p><p>Product description: {{item.productId | productpipe:'description'}}</p></span>
    </td>
    <td class="td-tooltip" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)">{{item.type}}
        <span class="td-tooltiptext"><p>Sun needs: {{item.type | speciepipe:'sunNeeds' | async}}</p><p>Soil needs: {{item.type | speciepipe:'soilNeeds' | async}}</p></span>
      </td>
  </tr>
</table>